@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 920px;
}

header, footer{
    background-color: #733222;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    border-radius: 15px;
}

header img {
  float: right;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 15px;
}

footer a, footer a:visited {
  color: white;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 36px;
}

.border{
  border-bottom: solid;
  border-color: black;
  border-width: 2px;
}

/* Main Navigation */
nav a:link, nav a:visited { 
  color: black; 
}
nav a:hover {
  color: darkgray;
}

nav a:active { 
  color: darkgray; 
}

footer a:link, footer a:visited {
  color: white; 
}

footer a:hover {
  color: darkgray;
}

footer nav a:active {
  color: darkgray; 
}