/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header, footer{
    padding: 5rem 2%;
    text-align: center;
}
header h1 {margin: 0;}


/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/

picture {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    
}
img { 
    padding: 1.5rem;
    border: 5px black solid;
    box-shadow: 10px 10px 30px 10px gray;
    filter: blur(0em);
    transition: filter 2s;
  }

img[data-src] {
    filter: blur(0.2em);
  }
figcaption {
    padding-bottom: 2rem;
    color: black;
    font-weight: bolder;
}
/*----------- FOOTER --------------*/



/*----- Clearfix: Force an Element not to collapse -----*/
