/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {width: 75px;}
header h1 {font-size: 2rem;}
header h2 {font-size: 1.14rem;}


/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem; font-size: 1.4rem;}


/*----------- MAIN --------------*/
.persona {
    display: grid;
    grid-template-columns: repeat(2 1fr);
}
.persona1 {
    grid-column: 1;
    max-width: 420px;
}
.persona2 {
    grid-column: 2;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */