/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* font-family's
font-family: 'Combo', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Open Sans', sans-serif;*/

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #d2fafb;
}


/*----------- HEADER --------------*/
header, footer {
    font-family: 'Comfortaa', cursive;
    padding: .5rem 2%;
    background-color: #a3bfc8;
}
header img {float: left; margin-right: 20px; width: 50px;}
header h1 {margin: 0; font-size: 1.5rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #161370;
    font-family: 'Combo', cursive;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-weight: bold;
}


nav ul li a:hover {
    background-color: #1dacd6;
    color: #333;
    font-weight: bold;
}
nav ul li.active a {
    background-color: #154c87;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

/*----BODY / index----*/
main section img {
    padding-left: 100px;
}

/*----BODY / Target Audience----*/
.persona1 {
    margin: 1rem;
    padding: 1rem 2%;
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #a3bfc8;
    
}
.persona2 {
    margin: 1rem;
    padding: 1rem 2%;
    display: block;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #a3bfc8;
    
}

/*----BODY / Color Scheme----*/
.colors ul {
    list-style-type: none;
    padding: 0;
    
}
.colors ul li {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    margin: 5px 0;
}
.colors .mainbackground {
    background-color: #D2FAFB;
    color: #000;
}
.colors .headerfooter {
    background-color: #A3BFC8;
    color: #000;
}
.colors .nav-backgound {
    background-color: #161370;
    color: #fff;
}
.colors .nav-hover-background {
    background-color: #1DACD6;
    color: #333;
}
.colors .nav-active-background {
    background-color: #154C87;
    color: #fff;
}

/*----BODY / Typography----*/
.typography{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    background-color: #A3BFC8;
    margin: 0 -10px; 
}
.head-title {grid-column: 1; padding-left: 10px;}
.head-font {grid-column: 2;}
.head-size {grid-column: 3;}
.head-sample {
    grid-column: 4;
    font-family: 'Comfortaa', cursive;
    font-size: 3.5rem;
}

.p-nav-title {grid-column: 1; padding-left: 10px;}
.p-nav-font {grid-column: 2;}
.p-nav-size {grid-column: 3;}
.p-nav-sample {
    grid-column: 4;
    font-family: 'Combo', cursive; 
    font-size: 1.4rem;
    padding-right: 10px;
}

.h1-title {grid-column: 1; padding-left: 10px;}
.h1-font {grid-column: 2;}
.h1-size {grid-column: 3;}
.h1-sample {
    grid-column: 4;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
}

.h2-title {grid-column: 1; padding-left: 10px;}
.h2-font {grid-column: 2;}
.h2-size {grid-column: 3;}
.h2-sample {
    grid-column: 4;
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
}

.h3-title {grid-column: 1; padding-left: 10px;}
.h3-font {grid-column: 2;}
.h3-size {grid-column: 3;}
.h3-sample {
    grid-column: 4;
    font-family: 'Comfortaa', cursive;
    font-size: 1.25rem;}

.p-title {grid-column: 1; padding-left: 10px;}
.p-font {grid-column: 2;}
.p-size {grid-column: 3;}
.p-sample {grid-column: 4;}

/*----------- FOOTER --------------*/
footer {
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}