/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {width: 75px;}
header h1 {font-size: 2rem;}
header div {font-size: 1.14rem;}


/*----------- NAVIGATION --------------*/

nav button {
  margin: -5rem 2%;                /* move hamburger -5rem top and bottom from the border and unordered list - 2% gives space left and right of the hamburger*/
}

/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */