/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {width: 75px;}
header h1 {font-size: 2rem;}
header div {font-size: 1.14rem;}


/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */