/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* font-family's
font-family: 'Combo', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Open Sans', sans-serif;*/

/*----------- BODY --------------*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #d2fafb;
}


/*----------- HEADER --------------*/
header {
    font-family: 'Comfortaa', cursive;
    padding: .5rem 2%;

    background-color: #a3bfc8;
}
header img {float: left; margin-right: 20px; width: 50px;}
header h1 {margin: 0; font-size: 1.25rem; padding-top: 1rem;}
header div {margin: 0; font-weight: normal; font-size: .55rem;}

/*----------- NAVIGATION --------------*/
nav button {
    margin: .2rem 2%;                /* move hamburger .2rem top and bottom from the border and unordered list - 2% gives space left and right of the hamburger*/
    background-color: transparent;   /* making hamburger look less like a button - removing background */
    border: none;                    /* making hamburger look less like a button - removing border */
    font-size: 1.6rem;               /* making hamburger larger touch use to be 44px - 1.6rem gets us close */
    color: #fff;                   /* change color of hamburger for contrast */
}

nav {
    background-color: #154c87;   /* Background color change for Navigation Bar */
    font-family: 'Combo', cursive; /* Font used for Navigation Bar */

}
nav ul {
    list-style-type: none; /* Removes dots next to the list only in the navigation unordered list */
    padding: 0;            /* removes space around the list */
    margin: 0;             /* removes space between hamburger icom and unorderd list */
}

nav ul li a {              /* styling of the navigation buttons */
    display: block;        /* makes the entire width of the button clickable */     
    color: #fff;         /* changing default color to match page-guide requirments */
    padding: .8rem 0;      /* making button area bigger to be touch use - .8rem top & bottom; 2% to keep the margin aligned with the hamburger */
    text-decoration: none; /* remove underline */
    border-top: 1px solid rgba(255,255,255,0.6); /*separate buttons with a top border - border thickness, style, color and trasperancy*/
    font-size: 1.1rem;
    text-align: center;
    font-weight:lighter
}

nav ul li a:hover {
    background-color: rgba(255,255,255,.3); /* The hover will be a traspancy of white to change the color of the mouse hover */
}

nav ul li.active a {
    background-color: rgba(255,255,255,0.15); /* will change the active page to a transparency of white */
}
nav ul.hide {display: none;}

/*----------- MAIN --------------*/
main h2{
    padding: 0 2%;
    min-height: 1rem;
    
}

.hero, .forcast, .article, .content {
    
    background-color: #a3bfc8;
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
    padding: 1rem;
    margin: 1rem 0;
}


/*----------- FOOTER --------------*/
footer {
    font-family: 'Comfortaa', cursive;
    padding: .5rem 2%;
    background-color: #a3bfc8;
    font-size: .75rem;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}