/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-color: #154c87;
}


/*----------- HEADER --------------*/
header h1{
  font-size: 1.5rem; 
  font-weight: bolder;
  padding: .5rem 2%;
  color: white;
  text-align: center;
}

/*----------- MAIN --------------*/
div.cards  {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
}

div section {
  width: 100%;
  background-color: #a3bfc8;
  margin-bottom: .5rem;
  border-radius: 15px;
}

div .h2 {
  font-size: 1.75rem;
}

div img {
  display: block;
  width: 75%;
  height: auto;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

}

div .title {
  text-align: center;
}

div .birthInfo {
 text-align: center;
 font-size: .75rem;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #ddd;
  padding: .5rem 2%;
  text-align: center;
}

/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

/*----------- HEADER --------------*/

header h1{
  font-size: 2rem; 
}

/*----------- MAIN --------------*/
div.cards  {
  grid-template-columns: 1fr 1fr;
  width: 36rem;
  column-gap: .6rem;
}

      
}

/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 74rem) {

/*----------- HEADER --------------*/

header h1{
  font-size: 3rem; 
}

/*----------- MAIN --------------*/
div.cards  {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 72rem;
}
  
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}